#createMovieDiv {
    text-align: center;
}

#createMovieForm {
    text-align: left;
}

#selectedImage {
    width: 70px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 4px 4px #888888;
}

#formLabel {
    text-align: right;
    font-size: 14px;
    padding-bottom: 2.5px;
    padding-right: 5px;
}

.formInput {
    width: 300px;
    background: white;
    border-radius: 5px;
    margin-top: 5px;
}

table,
tr,
td {
    margin: 0 auto;
    padding: 0px;
    vertical-align: bottom;
}

.errorMessage {
    color: red
}

#ImageInput {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}