#pageTitle {
    font-size: 28px;
    margin-bottom: 0px;
}

#createMovieDiv {
    text-align: center;
}

.formInputDiv {
    text-align: left;
}

.formLabel {
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding-bottom: 2.5px;
    padding-right: 5px;
}

.formInput {
    width: 300px;
    background: white;
    border-radius: 5px;
    margin-top: 5px;
}

table,
tr,
td {
    margin: 0 auto;
    padding: 0px;
    vertical-align: bottom;
}

td>* {
    vertical-align: middle;
}

.errorMessage {
    color: red;
    font-size: 12px;
}

.openFile {
    font-size: 12px;
    background: lightgrey;
    padding: 5px;
    cursor: pointer;
}

.movieImage {
    margin-top: 5px;
    width: 333px;
    height: 420px;
    border-radius: 5px;
    box-shadow: 4px 4px #888888;
    display: inline;
    cursor: pointer;
}


#ImageInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

textarea {
    height: 100px;
}

#centerPane {
    display: flex;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

#rightPane {
    padding-left: 20px;
    height: 400px;
}

#bottomPane {
    text-align: center;
}