html {
    overflow-y: scroll;
    min-height: 100%;
    position: relative;
}

body {
    background: silver;
    font-family: 'Open Sans', serif;
    margin: 0px;
    ;
}

textarea {
    font-family: 'Open Sans', serif;
}

input {
    border-radius: 5px;
    border-style: solid;
    border-color: transparent;
    padding-left: 5px;
}

input:focus {
    outline: 0;
}

.clickable {
    border-radius: 5px;
    border-style: solid;
    border: 1px solid lightgrey;
    cursor: pointer;
    height: 25px;
    text-align: center;
}


.clickable:active {
    filter: brightness(85%);
    box-shadow: inset 0px 0px 10px grey;
}

.clickable:focus {
    outline: 0;
}


.primary {
    background: blue;
    color: white;
    border-color: transparent;
}

.primary:focus {
    background: blue;
}

#header {
    padding: 5px;
    font-size: 16px;
    text-align: left;
    background: slateblue;
    color: white;
}

#content {
    margin-bottom: 20px;
    padding-bottom: 20px; /*heigt of footer*/
}

#footer {
    width: 100%;
    font-size: 12px;
    text-align: left;
    padding-bottom: 10px;
    position: absolute;
    height: 20px;
    bottom: 5px;
}

#title {
    padding-left: 5px;
}