.adminPanel {
    position: absolute;
    top: 20px;
    right: 5px;
}

.delBtn {
    background: darkred;
    color: whitesmoke;
}

.editBtn {
    background: darkgreen;
    color: whitesmoke;
}

.createBtn {
    position: fixed;
    background: slateblue;
    color: whitesmoke;
    box-shadow: 5px 5px 5px grey;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    padding: 10px;
    bottom: 10px;
    right: 10px;
}