.movieItem {
    /* border: 1px solid black; */
    width: 425px;
    display: inline-block;
    text-align: left;
    margin: 0px;
    margin-left: 10px;
    position: relative;
}

.movieImage {
    margin-right: 10px;
    margin-left: 5px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 4px 4px #888888;
}


.movieItemTitle {
    margin-bottom: 2px;
    font-size: 19px;
    font-weight: bold;
    vertical-align: top;
}

.movieItemGenre {
    font-size: 13px;
}

.movieItemSynopsis {
    margin-top: 5px;
    font-size: 12px;
}

td {
    font-size: 12px;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

.deleted {
    position: absolute;
    bottom: 22%;
    right: 25%;
    font-size: 40px;
    text-shadow: 2px 2px grey;
    transform: rotate(-30deg);
}