.pageLink {
    margin-left: 3px;
}

.focused {
    background-color: lightseagreen;
    border-color: lightseagreen;
    color: whitesmoke;
    font-weight: bold;
}

.focused:focus {
    background: darkcyan;
}